<div class="col-sm-6">
  {{twbs-errors-alert class="alert-danger" includes="someString" model=model}}
</div>
<div class="col-sm-6">
  {{! @formatter:off }}
  <pre>\{{twbs-errors-alert class="alert-danger" includes="someString" model=model }}
  </pre>
  {{! @formatter:on }}
</div>