<div class="col-sm-6">
  {{twbs-errors-alert class="alert-danger" model=model}}
</div>
<div class="col-sm-6">
  {{!-- @formatter:off --}}
<pre>\{{twbs-errors-alert
  class="alert-danger" model=model
}}
</pre>
  {{!-- @formatter:on --}}
</div>
