<div class="container">
  <h1>
    ember-data-bootstrap3-forms
    <img src="http://badge.fury.io/gh/cybertoothca%2Fember-data-bootstrap3-forms.svg"
         alt="ember-data-bootstrap3-forms version"/>
    <img src="https://badge.fury.io/js/ember-data-bootstrap3-forms.svg" alt="ember-data-bootstrap3-forms npm"/>
  </h1>
</div>

{{outlet}}
